/* Work sans Font from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */

/* shared style */
.primary-btn{
    border-radius: 8px;
    background: #FF900E; 
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 35px;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.nav-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size:3rem;
    font-weight: 700;
}
nav li a{
    text-decoration: none;
}
/* banner style */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.text-light-gray{
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
    margin-top: 50px;
}
          /* Main Section Start */

main{
    max-width: 1440px;
    margin: 0 auto;
}

  /* Teams Style */
  .teams-container{
    display: flex;
    align-items: center;
    margin-top: 85px ;
  }
  .teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .tamas-content{
    padding-left: 70px;
    padding-right: 60px;
  }
  .quick-list{
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
  }
  .of-our{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
  }
  .text-features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
  }

/* Responsive Media Queries */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .tamas-content{
        padding-left: 20px;
        padding-right: 20px;
    }
 }

 /* Tablet or Mobile Device */
 @media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    
 }
