/* Work sans Font from google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:wght@400;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* *{
    margin: 0;
    padding: 0;
} */

/* shared style */
.primary-btn{
    border-radius: 8px;
    background: #FF900E; 
    padding: 20px 25px;
    color: white;
    font-size: 1.25rem;
    margin-top: 32px;
    border: none;
    cursor: pointer;
}
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 35px;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.common-title{
    color: var(--Dark-01, #131313);
    font-size:3rem;
    font-weight: 700;
}
nav li a{
    text-decoration: none;
}
/* banner style */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin: 0 auto;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}
.text-light-gray{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.banner img{
    width: 100%;
    margin-top: 50px;
}
          /* Main Section Start */

main{
    max-width: 1440px;
    margin: 0 auto;
}

  /* Teams Style */
  .teams-container{
    display: flex;
    align-items: center;
    margin-top: 85px ;
  }
  .teams-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .tamas-content{
    padding-left: 70px;
    padding-right: 60px;
  }
  .quick-list{
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
  }
  .of-our{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
  }
  .text-features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
  }
     /* feature section start */
.features{
    margin-top: 130px;
    display: flex;
    gap: 150px;
}
.feature-content .card{
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img{
    height: 90%;
    margin-left: 110px;
}
.features-border{
    border-left: 8px solid #FF900E;
    padding-left: 20px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 150px;
}
.ten-years-badge h2{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
.ten-years-badge p{
    font-size: 25px;
    text-align: center;
    
}




       /*  fact section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
}
.facts-card-container .card-stats{
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: var(--Dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
.sponsors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}
  /* Footer section */

  .footer-section{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
    height: 100px;
    margin: 130px auto;
  }
  .footer-section .text-light-gray{
    text-align: center;
    padding: 38px 410px;
  }
  .footer-section p{
    margin: 0;
  }

/* Responsive Media Queries */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container, .facts-card-container,
    .sponsor-img-container,
    .features{
        flex-direction: column;
    }
    .sponsor-img-container img{
        width: 165px;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        width: 90%;
        max-width: 270px;
        padding: 20px;
        margin: 20px auto;
    }
    .teams-image-container{
        grid-template-columns: 1fr;
    }
    .tamas-content, .facts-card-container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    
 }

 /* Tablet or Mobile Device */
 @media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, .teams-container,
    .sponsor-img-container,
    .features{
        flex-direction: column;
    }
    .facts-card-container{
        gap: 20px;
    }
    
 }
